<div class="">
    <div class="row align-items-center justify-content-center">
        <div class="col-12 text-center">
        
            <h1 class="display-1">W E L C O M E</h1>
        
        </div>
    </div>  
</div>

@section styles
{
}

@section scripts
{
}
